.BaiTapThucHanhLayout{
    *{
        margin : 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Nunito', sans-serif;
    }
    .main-header{
        background-color: black;
        padding: 0px;
        transition: all 0.4s ease 0s;
        height: 70px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    }
    .Header{
        height: 100px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .navbar .navbar-brand {
        margin-left: 220px;
        padding: 0;
        font-size: 26px;
        width: 40%;
        font-weight: 700;
        text-transform: capitalize;
        text-decoration: none;
        color: white;
        letter-spacing: -1px;
    }

    .navbar h1{
        width: 40%;
    }

    .main_navbar{
        width: 40%;
        justify-content: center;
    }

    
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-transform: capitalize;
        text-decoration: none;
        transition: all 0.5s ease;
        padding: 14px 14px;
        font-size: 16px;
        font-weight: 400;
        color: white;
        opacity: 0.95;
    }

    .main_banner{
        margin-top: 100px !important;
        margin-left: 220px !important;
        margin-right: 200px !important;
        h1{
            transform: translateX(-150px);
        }
        p{
            transform: translateX(-150px);
        }
        a{
            transform: translateX(-150px);
        }
    }
    .btn_call{
        padding: 10px 15px;
    }
    .banner_h1{
        font-size: 55px;
    }
    .div_banner{
        margin: 0 200px;
        padding: 5px 0;
    }


    .Item{
        transform: translateX(200px);
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .Item img{
        width: 335.75x;
        height: 180px;
    }
    .card{
        text-align: center;
        padding: 10px;
        margin-left: 10px;
        height: 450px;
    }
    .card-body{
        margin-top: 30px;
        p{
            margin: 10px 0;
        }
        a{
            padding: 10px;
            transform: translateY(30px);
        }
    }



}

